{% extends './layout.html' %}

{% block title %}Registro de actividad{% endblock %}

{% block body %}
<div class="cuadricula">
    <h1>Registro de actividad</h1>
    <form action="/registrarActividad" method="post">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="inputActividad" class="form-label fw-bolder">Actividad</label>
                <input type="text" name="inputActividad" id="inputActividad" class="form-control" placeholder="Nombre de la actividad" aria-label="Actividad" required>
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label fw-bolder">Clima de preferencia para realizar la
                    actividad</label>
                <select class="form-control" name="inputClima" id="inputClima" required>
                    <option value="" disabled selected>Seleccione un tipo de clima</option>
                    <option value="Soleado">Soleado</option>
                    <option value="Nublado">Nublado</option>
                    <option value="Lluvioso">Lluvioso</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Registrar actividad</button>
            </div>
    </form>
</div>
</div>
{% endblock %}